
$w-red    : #d9534f;
$w-green  : #5cb85c;
$w-blue   : #0275d8;
$w-black  : #000000;
$w-white  : #FFFFFF;
$w-pink   : #FF1493;
$w-brown  : #A52A2A;
$w-grey   : #A0A0A0;
$w-orange : #FE9A76;
$w-yellow : #f0ad4e;
$w-teal   : #008080;
$w-violet : #EE82EE;
$w-purple : #B413EC;
