/*======================================================================*\
|| #################################################################### ||
|| #                   Frame Work - By Waeel Alsydo                   # ||
|| # ---------------------------------------------------------------- # ||
|| #                  E-Mail (waeel.alsydo@gmail.com)                 # ||
|| #------------------------------------------------------------------# ||
|| #                       http://www.w-alsydo.com                    # ||
|| #################################################################### ||
\*======================================================================*/

@import "rest";
@import "colors";
@import "button";
@import "openNav";

.div-black {
    width: 500px;
    height: 125px;
    background-color: #000;
    padding: 15px;
}
.div-white {
    width: 500px;
    height: 125px;
    background-color: #fff;
    padding: 15px;
}
.div-black,
.div-white,
h2,
.size {
    margin: 10px;
}